<a href="https://colab.research.google.com/github/satya8574/sample-project-docker-2024/blob/master/DAy99%20Chi_Square_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!wget --no-check-certificate https://drive.google.com/uc?id=1bvVVbWUu6JKQDol0xwj3pqsTs4Qxm_oj -O Sachin_ODI.csv

--2024-06-27 01:34:15--  https://drive.google.com/uc?id=1bvVVbWUu6JKQDol0xwj3pqsTs4Qxm_oj
Resolving drive.google.com (drive.google.com)... 64.233.187.102, 64.233.187.139, 64.233.187.138, ...
Connecting to drive.google.com (drive.google.com)|64.233.187.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1bvVVbWUu6JKQDol0xwj3pqsTs4Qxm_oj [following]
--2024-06-27 01:34:15--  https://drive.usercontent.google.com/download?id=1bvVVbWUu6JKQDol0xwj3pqsTs4Qxm_oj
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.203.132, 2404:6800:4008:c03::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.203.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26440 (26K) [application/octet-stream]
Saving to: ‘Sachin_ODI.csv’

Sachin_ODI.csv      100%[===================>]  25.82K  --.-KB/s    in 0s

2024-06-27 01:34:15 (78.0 MB/s) - ‘Sachin_ODI.csv’ saved [26440/26440]

In [ ]:
df = pd.read_csv('/content/Sachin_ODI.csv')
df

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,14,0,34,15,2,0,93.33,2,Australia,Sydney,2012-02-26,Australia,False,False
356,39,0,45,30,5,0,130.00,2,Sri Lanka,Hobart,2012-02-28,India,True,False
357,6,0,25,19,1,0,31.57,1,Sri Lanka,Dhaka,2012-03-13,India,True,False
358,114,0,205,147,12,1,77.55,1,Bangladesh,Dhaka,2012-03-16,Bangladesh,False,True
359,52,0,93,48,5,1,108.33,2,Pakistan,Dhaka,2012-03-18,India,True,False

In [ ]:
### ST plays well in 1st inning vs 2nd innings

### does it make an impact whether ST makes a centruty on india winning
##

In [ ]:
### ST plays well in 1st inning vs 2nd innings


df.groupby('Inns')['runs'].mean()

Inns
1    46.670588
2    40.173684
Name: runs, dtype: float64

In [ ]:
df.groupby('Inns')['runs'].median()

Inns
1    31.5
2    28.5
Name: runs, dtype: float64

In [ ]:
### we should test if the difference is statistically signinficant

## Ho-> mean1=mean2
##. ha=> mean1>mean2

df_first_innings = df[df['Inns'] == 1]
df_second_innings = df[df['Inns'] == 2]

In [ ]:
from scipy.stats import ttest_ind

t_stat,pval=ttest_ind(df_first_innings['runs'],df_second_innings['runs'],alternative='greater')

In [ ]:
t_stat,pval

(1.4612016295532178, 0.07241862097379981)

In [ ]:
## we fail to reject H0
## there is no signinficant diff in inn1 runs vs inn2 runs

In [ ]:
## does sachins score impacts wins

In [ ]:
df_won = df[df['Won'] == True]
df_lost = df[df['Won'] == False]
t_stat,pval=ttest_ind(df_won['runs'],df_lost['runs'],alternative='greater')

t_stat,pval

(3.628068563969343, 0.00016353077486826558)

In [ ]:
!wget --no-check-certificate https://drive.google.com/uc?id=1fSKOoZcIfLTFMvyQ37RvGH168g5nVMDD -O aerofit.csv

--2024-06-27 02:07:09--  https://drive.google.com/uc?id=1fSKOoZcIfLTFMvyQ37RvGH168g5nVMDD
Resolving drive.google.com (drive.google.com)... 64.233.187.101, 64.233.187.102, 64.233.187.139, ...
Connecting to drive.google.com (drive.google.com)|64.233.187.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1fSKOoZcIfLTFMvyQ37RvGH168g5nVMDD [following]
--2024-06-27 02:07:10--  https://drive.usercontent.google.com/download?id=1fSKOoZcIfLTFMvyQ37RvGH168g5nVMDD
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.203.132, 2404:6800:4008:c03::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.203.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7461 (7.3K) [application/octet-stream]
Saving to: ‘aerofit.csv’

aerofit.csv         100%[===================>]   7.29K  --.-KB/s    in 0s

2024-06-27 02:07:10 (33.0 MB/s) - ‘aerofit.csv’ saved [7461/7461]

In [ ]:
df = pd.read_csv('/content/aerofit.csv')
df

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,KP281,18,Male,14,Single,3,4,29562,112
1,KP281,19,Male,15,Single,2,3,31836,75
2,KP281,19,Female,14,Partnered,4,3,30699,66
3,KP281,19,Male,12,Single,3,3,32973,85
4,KP281,20,Male,13,Partnered,4,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,KP781,40,Male,21,Single,6,5,83416,200
176,KP781,42,Male,18,Single,5,4,89641,200
177,KP781,45,Male,16,Single,5,5,90886,160
178,KP781,47,Male,18,Partnered,4,5,104581,120
179,KP781,48,Male,18,Partnered,4,5,95508,180

In [ ]:
Product vs Sales
p1->
p2->
p3->


gender vs income
g1->1200
g2->1150

In [ ]:
income_male = df[df['Gender'] == 'Male']['Income']
income_female = df[df['Gender'] == 'Female']['Income']

In [ ]:
income_male.mean()

56562.75961538462

In [ ]:
income_female.mean()

49828.90789473684

In [ ]:
t_stat, pvalue = ttest_ind(income_male, income_female, alternative="greater")
t_stat, pvalue

(2.752488637540257, 0.003263631548607129)

In [ ]:
### Male income is 56.5 K against female income 50 K


###Male income is 56.5 K against female income 50 K, and it is statiscally higher at 95% confidence level

In [ ]:
3 samples of numerical data -> we cant use ttest_ind_from_stats

In [ ]:
from scipy.stats import power

ImportError: cannot import name 'power' from 'scipy.stats' (/usr/local/lib/python3.10/dist-packages/scipy/stats/__init__.py)

In [ ]:
alpha=0.05
confidence_level=1-alpha
sample_size=30
effect_size= (sample_mean-population_mean)/sample_std

In [ ]:
power = power.zt_ind_solve_power(effect_size=effect_size,
                                 nobs1=sample_size,
                                 alpha=alpha,
                                 ratio=0,
                                 alternative='two-sided')

In [ ]:
## degree of freedom

Consider planning a week of movie nights with your friends.
You have a collection of seven different movie genres to choose from.
To make things interesting, you decide that each movie night will feature a unique genre

In [ ]:
first night -> 7 option
2nd night ->6
3->5
4->4
5->3
6->2
7->1 (nno options available)

In [ ]:
## as on 6 nights we had a option available -> DOF is 6

In [ ]:
### p1 -> 35 L p2-> 34 l p3 -> unknown

## but you know that the avg salary of the 3 is  35l -

## can we calculate salary of person 3

In [ ]:
### p1 -> 35 L p2-> 34 l p3 -> unknown, p4->37

## but you know that the avg salary of the 4 is  36l -

## can we calculate salary of person 3

In [ ]:
### p1 -> 35 L p2-> 34 l p3 -> unknown, p4->unknown

## but you know that the avg salary of the 4 is  36l -

## can we calculate salary of person 3 and person 4

In [ ]:
## Assuming we know the mean of the data

## how many values should be known to calculate all possible values

## total n values
## need to know atleast n-1 values

## DOF -> n-1

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import chisquare # Statistical test (chistat, pvalue)
from scipy.stats import chi2

In [ ]:
chi_stat, p_value = chisquare(
    [28, 22], # Observed or actual
    [25, 25], # Expected
)
print("p_value:",p_value)
print("chi_stat:",chi_stat)

p_value: 0.3961439091520741
chi_stat: 0.72

In [ ]:
(25-28)**2/25+(25-22)**2/25

0.72

In [ ]:
1-chi2.cdf(0.72,df=1)

0.3961439091520741

In [ ]:
chi_stat, p_value = chisquare(
    [35, 15], # Observed or actual
    [25, 25], # Expected
)
chi_stat, p_value

(8.0, 0.004677734981047276)

In [ ]:
599/907

0.6604189636163176

In [ ]:


observed = [
    [527, 72],
    [206, 102]]

overall_ratio=599/907

expected = [
    [overall_ratio*733,overall_ratio*174],
    [(1-overall_ratio)*733,(1-overall_ratio)*174]
]

chisquare(observed,expected)

Power_divergenceResult(statistic=array([11.20234086, 47.19147041]), pvalue=array([8.16942101e-04, 6.43799969e-12]))

In [ ]:
from scipy.stats import chi2_contingency
observed = [
    [527, 72],
    [206, 102]]

chi2_contingency(observed)

Chi2ContingencyResult(statistic=57.04098674049609, pvalue=4.268230756875865e-14, dof=1, expected_freq=array([[484.08710033, 114.91289967],
       [248.91289967,  59.08710033]]))

In [ ]:
484.08710033/599

0.8081587651585976

In [ ]:
Smokers
When smokers smoke, nicotine is transformed into cotinine, which can be tested.

The average cotinine level in a group of 50 smokers was 243.5 ng ml.

Assuming that the standard deviation is known to be 229.5 ng ml.

Test the assertion that the mean cotinine level of all smokers is equal to 300.0 ng ml, at 95% confidence.

In [ ]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest


# Given data
n_season1, x_season1 = 250, 120
n_season2, x_season2 = 300, 150


# Perform z-test for proportions
z_stat, p_value = proportions_ztest(count=[x_season2, x_season1], nobs=[n_season2, n_season1], alternative='larger')


# Display results
print(f"Z-statistic: {z_stat:.4f}")
print(f"P-value: {p_value:.4f}")


# Compare with critical value (e.g., for 95% confidence level)
alpha = 0.05
if p_value < alpha:
   print("Reject the null hypothesis. There is evidence of higher user satisfaction for Season 2 than Season 1.")
else:
   print("Fail to reject the null hypothesis. There is no significant evidence of higher user satisfaction for Season 2.")

Z-statistic: 0.4672
P-value: 0.3202
Fail to reject the null hypothesis. There is no significant evidence of higher user satisfaction for Season 2.

In [ ]:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest


# Given data
n_season1, x_season1 = 250, 120
n_season2, x_season2 = 300, 150


# Perform z-test for proportions
z_stat, p_value = proportions_ztest(count=[x_season1, x_season2], nobs=[n_season1, n_season2], alternative='smaller')


# Display results
print(f"Z-statistic: {z_stat:.4f}")
print(f"P-value: {p_value:.4f}")


# Compare with critical value (e.g., for 95% confidence level)
alpha = 0.05
if p_value < alpha:
   print("Reject the null hypothesis. There is evidence of higher user satisfaction for Season 2 than Season 1.")
else:
   print("Fail to reject the null hypothesis. There is no significant evidence of higher user satisfaction for Season 2.")

Z-statistic: -0.4672
P-value: 0.3202
Fail to reject the null hypothesis. There is no significant evidence of higher user satisfaction for Season 2.